*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 153, 153);
}
.container{
    display: flex;
    justify-content: center;
}
.center{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: rgb(241, 142, 142);
    border: 0.5px groove wheat;
    border-radius: 8px;
}
input{
    margin: 10px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: wheat;
    font-size: 30px;
    text-align: center;
    border: none;
    text-transform: uppercase;
}
#btn{
    font-weight: 900;
    background-color: rgb(122, 122, 199);
    cursor: pointer;
    color: white;
    transition: all 1s;
}
#btn:hover{
    font-weight: 800;
    background-color: rgb(88, 58, 199);
    cursor: pointer;
    color: rgb(214, 206, 206);
}
#cvalue{
    background-color: transparent;
    font-size: 100px;
}